@tailwind base;
@tailwind components;
@tailwind utilities;
.fade-in {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in:nth-child(1) {
  animation-delay: 0.1s;
}

.fade-in:nth-child(2) {
  animation-delay: 0.2s;
}

.fade-in:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.animated-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.loader {
  @apply w-10 h-10 ease-linear border-4 border-gray-200 rounded-full;
  border-top-color: #3c83f6;
  animation: spinner 1.2s linear infinite;
}
.smallLoader {
  @apply w-8 h-8 ease-linear border-4 border-gray-200 rounded-full;
  border-top-color: #3c83f6;
  animation: spinner 1.2s linear infinite;
}

.hugeLoader {
  @apply w-20 h-20 ease-linear border-8 border-gray-200 rounded-full;
  border-top-color: #3c83f6;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
